services:
  certbot:
    image: certbot/certbot:latest
    networks:
      - internal_net
    volumes:
      - ./nginx/certs:/etc/letsencrypt
      - ./nginx/www:/var/www/certbot
    # on ne le démarre pas en continu; on l'appelle à la demande

  nginx:
    image: nginx:1-alpine3.21-slim
    volumes:
      - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/letsencrypt
      - ./nginx/www:/var/www/certbot
    depends_on:
      - backend
      - frontend
    networks:
      - internal_net
    ports:
      - "80:80"
      - "443:443"

  postgres:
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgresql/postgres-data:/var/lib/postgresql/data
    networks:
      - internal_net # PAS de "ports:" -> uniquement accessible depuis le réseau docker
    expose:
      - "5432"

  backend:
    build:
      context: ./backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - postgres
    volumes:
      - ./backend/src:/app/src   # Seulement le code source est necessaire pour le dev en hot reload, et eventuellement le pom.xml aussi pour les dependance si j'en ajoute au fur et a mesure
      - ./backend/pom.xml:/app/pom.xml
      - ./backend/.mvn:/app/.mvn    #sinon deadlock
      - ./backend/mvnw:/app/mvnw
    #command: sh -c "ls -l .mvn/wrapper && cat .mvn/wrapper/maven-wrapper.properties && ./mvnw spring-boot:run -Dspring-boot.run.fork=false"
    command: ./mvnw spring-boot:run -Dspring-boot.run.fork=false
    expose:
      - 8080
    networks:
      - internal_net

  frontend:
    build: ./frontend
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - ./frontend/index.html:/app/index.html
      - ./frontend/postcss.config.js:/app/postcss.config.js
      - ./frontend/vite.config.ts:/app/vite.config.ts
      - ./frontend/tsconfig.json:/app/tsconfig.json
      - ./frontend/tsconfig.node.json:/app/tsconfig.node.json
      - ./frontend/tsconfig.app.json:/app/tsconfig.app.json
      - ./frontend/eslint.config.js:/app/eslint.config.js
    command: npm run dev -- --host
    expose:
      - 5173
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge